
Win32APIGameBase/.vs/Win32APIGameBase/v15/Browse.VC.db
Win32APIGameBase/.vs/Win32APIGameBase/v15/Browse.VC.opendb
Win32APIGameBase/.vs/Win32APIGameBase/v15/Browse.VC.db
Win32APIGameBase/.vs/Win32APIGameBase/v15/.suo
Win32APIGameBase/.vs/Win32APIGameBase/v15/Browse.VC.db
