
Win32APIGameBase/.vs/Win32APIGameBase/v15/Browse.VC.db
Win32APIGameBase/.vs/Win32APIGameBase/v15/Browse.VC.opendb
Win32APIGameBase/.vs/Win32APIGameBase/v15/Browse.VC.db
Win32APIGameBase/.vs/Win32APIGameBase/v15/.suo
Win32APIGameBase/.vs/Win32APIGameBase/v15/Browse.VC.db
Win32APIGameBase/.vs/Win32APIGameBase/v15/ipch/8704f96570e12d41.ipch
*.ipch
Win32APIGameBase/.vs/Win32APIGameBase/v15/ipch/8704f96570e12d41.ipch
Win32APIGameBase/.vs/Win32APIGameBase/v15/.suo
Win32APIGameBase/.vs/Win32APIGameBase/v15/Browse.VC.db
Win32APIGameBase/.vs/Win32APIGameBase/v15/.suo
Win32APIGameBase/.vs/Win32APIGameBase/v15/Browse.VC.db
Win32APIGameBase/.vs/Win32APIGameBase/v15/ipch/8704f96570e12d41.ipch
Win32APIGameBase/.vs/Win32APIGameBase/v15/.suo
Win32APIGameBase/.vs/Win32APIGameBase/v15/Browse.VC.db
Win32APIGameBase/.vs/Win32APIGameBase/v15/.suo
Win32APIGameBase/.vs/Win32APIGameBase/v15/Browse.VC.db
